<!doctype html>
<html ng-app="movieApp">
	<head>
		<title>watchlist</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

		<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.5/dist/js/ngAlertify.js"></script>

		<script src="script.js"></script>
		<script src="services.js"></script>
		<script src="directives.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="stylesheet" type="text/css" href="spinner.css" />
		<meta name="referrer" content="none">
	</head>
	<body ng-controller="MovieController as ctrl" id="movieController" ng-keyup="ctrl.captureKeyPress($event.which);">

		<div ng-show="ctrl.loadingIndicators" id="loadingIndicator" class="loader">Loading...</div>

		<div ng-if="!ctrl.authenticationToken">
			<div class="" style="color: floralwhite;">
				<center>
					<h1>movie + pizza </h1>
					<br />
					<p>Easily create your own movie watch lists</p>
					<br />
					<button class="btn btn-primary btn-lg btn-info" ng-click="ctrl.login()">Log in with Dropbox</button>

					<br />
					<br />

					<br />
					<br />
					<br />
					<img src="screenshot1.png" alt="screenshot1" style="width:700px" /><br />
					<br />
					<p><i>Create multiple lists</i></p>
					<br />
					<br />
					<img src="screenshot2.png" alt="screenshot2" style="width:700px" />
					<br />
					<p><i>IMDB search results</i></p>
					<br />
					<br />
					<p><b>Note:</b> This service have only been tested with Chrome and Safari. It probably does not work in Firefox.</p>
					<br />
				</center>
			</div>
		</div>

		<div ng-if="ctrl.authenticationToken">
			<div id="videoElement" ng-click="ctrl.closeTrailer()" ng-show="ctrl.trailerPlaying"></div>

			<form id="searchForm" ng-submit="ctrl.search()">
				<input id="searchInput" type="text" ng-model="ctrl.searchQuery" placeholder="Search for movie..." autocomplete="off">
				<a href ng-click="ctrl.info()"><span class="glyphicon glyphicon-info-sign infoicon" aria-hidden="true"></span></a>
			</form>
			<div id="searchResult" ng-show="ctrl.searchResults.length > 0">
				<ul class="movieList">
					<li class="movieListItem" ng-repeat="movie in ctrl.searchResults track by $index">
						<movie deletelink="false" addlink="true" trailer="true" imdb="false"></movie>
					</li>
				</ul>
			</div>

			<nav class="navbar navbar-inverse">
				<ul class="nav navbar-nav">
					
					<li ng-repeat="list in ctrl.allLists track by $index" role="presentation" ng-class="{active: $index==ctrl.currentlySelectedList}" >
						<a href ng-click="ctrl.selectList($index)" ng-dblclick="ctrl.renameList($index)">{{list.name}} <span class="badge">{{list.movies.length}}</span></a>
					</li>
					<li><a href ng-click="ctrl.createNewList()" title="Create new list"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
					<li><a href ng-click="ctrl.deleteList()" title="Delete current list"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></li>
					<li><a href ng-click="ctrl.refreshMoviesInList()" title="Refresh all movies in list"><span class="glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span></a></li>
				</ul>
			</nav>
			<div>
				<span sortable predicate="imdbRating" title="IMDB Rating" icon="glyphicon-sort-by-attributes"></span>
				<span sortable predicate="Title" title="Title" icon="glyphicon-sort-by-alphabet"></span>
				<span sortable predicate="Year" title="Year" icon="glyphicon-sort-by-order"></span>
			</div>
			<div>
				<ul class="movieList">
					<li class="movieListItem" ng-repeat="movie in ctrl.allLists[ctrl.currentlySelectedList].movies | orderBy:predicate:reverse | filter:ctrl.searchQuery">
						<movie deletelink="true" trailer="true" imdb="true" move="true"> </movie>
					</li>
				</ul>
			</div>
		</div>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-75320187-1', 'auto');
		  ga('send', 'pageview');
		</script>
	</body>
</html>
