<!doctype html>
<html ng-app="movieApp">
	<head>
		<title>watchlist</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

		<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.5/dist/js/ngAlertify.js"></script>

		<script src="share-controller.js"></script>
		<script src="services.js"></script>
		<script src="directives.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="stylesheet" type="text/css" href="spinner.css" />
		<meta name="referrer" content="origin">
	</head>
	<body ng-controller="MovieController as ctrl" id="movieController">

		<div ng-show="ctrl.loadingIndicators" id="loadingIndicator" class="loader">Loading...</div>

		<div id="videoElement" ng-click="ctrl.closeTrailer()" ng-show="ctrl.trailerPlaying"></div>

		<div>
			<span sortable predicate="imdbRating" title="IMDB Rating" icon="glyphicon-sort-by-attributes"></span>
			<span sortable predicate="Title" title="Title" icon="glyphicon-sort-by-alphabet"></span>
			<span sortable predicate="Year" title="Year" icon="glyphicon-sort-by-order"></span>
		</div>
		<div>
			<ul class="movieList">
				<li class="movieListItem" ng-repeat="movie in ctrl.movies track by $index | orderBy:predicate:reverse">
					<!-- movie deletelink="true" trailer="true" imdb="true" move="true"> </movie -->
					<div>
						<img src="{{movie.Poster}}" />
						<ul>
							<li ng-repeat="(key, value) in movie">{{key}}: {{value}}</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-75320187-1', 'auto');
		  ga('send', 'pageview');
		</script>
	</body>
</html>
