body {
	background-color: black;
	/* padding: 2em; */
}

.movie {
	text-align: center;
	cursor: pointer;
	width: 12em;
	height: 18em;
    background-size: 12em;
    background-size: contain;
    background-repeat: round;
}

.movieMenu {
	position: absolute;
	background-color: rgba(10,10,10,0.6);
	width: 12em;
	height: 18em;
}

.movieMenuItem {
	margin: 0.5em;
}

.movieList {
	padding: 0;
}

.movieListItem {
	list-style-type: none;
	#height: 15em;
	#width: 10em;
	font-size: 0.8em;
	margin: 2em;
	color: antiquewhite;
	display: -webkit-inline-box;
	overflow: hidden;
}

.menuButtonGroup {
	margin-right: 2em;
}

.poster {
	height: 18em;
}

.spacer {
	display: inline-block;
	margin: 1em;
}

.imdbRating {
	width: 1.5em;
	height: 1.5em;
}

.jumbotron {
	padding: 2em;
}

#loadingIndicator {
	position: fixed;
	left: 45%;
	top: 15%;
	z-index: 100;
}

#movieForm {
	margin: 1em;
}

#searchForm {
	/* text-align: -webkit-center;	*/
}

#searchResult {
	margin-bottom: 2em;
	background-color: #222;
}

#videoElement {
	text-align: -webkit-center;
	position: fixed;
	top: 4em;
	z-index: 1;
	width: 100%;
	height: 100%;
}

#searchInput {
	background-color: #333;
	border: 0;
	border-radius: 0;
	color: antiquewhite;
	font-size: 2em;
	width: 95%;
}

.infoicon {
	width: 4%;
    text-align: center;
    font-size: 1.5em;
}

/*
a:link {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
}

a:active {
    color: #FFFFFF;
}*/